<footer id="footer">
    <div style="display: flex; justify-content: center; align-items: center; gap: 20px;">
        <a href="/FeedList.html">
            <img 
            src="/Assets/RSS_Logo.png" 
            alt="RSS Feed" 
            style="width: 20px; height: 20px" 
            />
        </a>
        <span style="font-size: 0.8em;">
            <a href="/sitemap.xml">Sitemap</a>
        </span>
    </div>
</footer>