<footer id="footer" style="margin-top: 0px;">
    <a href="/FeedList.html" >
        <img
        src="/Assets/RSS_Logo.png"
        alt="RSS Feed"
        style="width: 20px; height: 20px"
        /> 
    </a>

</footer>