<h2>Updates</h2>
<div class="box">
    What am I doing these days!
    <ul>
        <li>April 2025 - Traveling to <a href="https://dlr.expert/coat2025/" target="_blank">COAT 2025</a> in Munich </li>
        <li>July 2024 - Started this website!</li>
        <li>July 2023 - Started my PhD</li>
    </ul>
</div>


<h2> Say Hello!</h2> 

<div >
    <img 
        src="\Assets\KoffeeKoala.png" 
        alt="Koffee Koala" 
        class="KappySidebar"
    />
</div>

<p></p>

<b>Sign my  <a href="https://caffeineandlasers.atabook.org/"> Guestbook </a>!</b>


<h2>Find Me Online</h2>
<ul>
    <li>
        <a href="https://aus.social/@AuntyRed/" target="_blank"
            >Mastodon</a
        >
    </li>
    <li>
        <a
            href="https://www.youtube.com/@CameronJones-dj8mml"
            target="_blank"
            >YouTube</a
        >
    </li>
    <li>
        <a
            href="https://www.linkedin.com/in/cameron-jones-sydney/"
            target="_blank"
            >LinkedIn</a
        >
    </li>
    <li>
        <a
            href="https://github.com/CJones-Optics/"
            target="_blank"
            >GitHub</a
        >
    </li>
</ul>
